In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [4]:
df = pd.read_csv("Group_5_data_cleaned.csv")
df.head()

,Unnamed: 0,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),is_Winter,is_Spring,is_Summer,is_Autumn,is_Holiday,is_Functioning_day,Month,Day,int_date
0,0,254,0,-5.2,37,2.2,2000,0.0,0.0,0.0,True,False,False,False,False,True,12.0,0,43068.0
1,1,204,1,-5.5,38,0.8,2000,0.0,0.0,0.0,True,False,False,False,False,True,12.0,0,43068.0
2,2,173,2,-6.0,39,1.0,2000,0.0,0.0,0.0,True,False,False,False,False,True,12.0,0,43068.0
3,3,107,3,-6.2,40,0.9,2000,0.0,0.0,0.0,True,False,False,False,False,True,12.0,0,43068.0
4,4,78,4,-6.0,36,2.3,2000,0.0,0.0,0.0,True,False,False,False,False,True,12.0,0,43068.0

In [5]:
df = df.drop(['Unnamed: 0'],axis=1)

In [6]:
X = df.drop('Rented Bike Count',axis=1)
y = df['Rented Bike Count']

In [7]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler 

from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
model=scaler.fit(X)
scaled_X=model.transform(X)

y = y.values.reshape(-1, 1)
model1=scaler.fit(y)
scaled_y=model1.transform(y)

In [8]:
X_train_scaled,X_test_scaled,y_train_scaled,y_test_scaled = train_test_split(scaled_X, scaled_y, test_size = 0.3, random_state=42)

In [9]:
print(X_train_scaled.shape)
print(y_train_scaled.shape)
print(X_test_scaled.shape)
print(y_test_scaled.shape)

(6132, 17)
(6132, 1)
(2628, 17)
(2628, 1)

# For regression problem the mean serves as good baseline

In [10]:
y_pred=y_train_scaled.mean()

In [11]:
y_pred

0.003152090835502763

In [12]:
y_pred2=[y_pred]*len(y_train_scaled)

In [13]:
#error for training data baseline guess
#to calculate mean absolute error

mae=mean_absolute_error(y_train_scaled,y_pred2)
mae

0.8083502899902116

In [14]:
#to calculate mean squared error

mse=mean_squared_error(y_train_scaled,y_pred2)
mse

1.006338294841343

# Prediction for y_test_scaled

In [15]:
y_pred3=[y_pred]*len(y_test_scaled)

#to calculate mean absolute error

mae=mean_absolute_error(y_test_scaled,y_pred3)
print("Mean absolute error :",mae)

#to calculate mean squared error

mse=mean_squared_error(y_test_scaled,y_pred3)
print("Mean squared error :",mse)

Mean absolute error : 0.8038544185364271
Mean squared error : 0.9852437642923174